.about__p-service {
}

.about__p-service__wrapper {
}
.about__p-service__heading {
  margin-top: 30px;
  font-size: 1.8rem;
  @include mq("sp") {
    font-size: 1.6rem;
  }
}
.about__p-service__content {
  margin-top: 30px;
  @include mq("sp") {
    display: block;
  }
}
.about__p-service__box {
  margin-top: 60px;
}
.about__p-service__text {
  flex: 0 0 50%;
  h3 {
    color: $cr-m;
    font-size: 2.4rem;
    margin-top: 30px;
    @include mq("sp") {
      font-size: 2rem;
      margin-top: 20px;
    }
  }
  p {
    margin-top: 15px;
    font-size: 1.8rem;
    @include mq("sp") {
      font-size: 1.6rem;
      margin-top: 10px;
    }
  }
}
.about__p-service__image {
  width: 80%;
  display: flex;
  align-items: center;
  margin: 30px auto 0;
  @include mq("sp") {
    width: 100%;
    margin: 30px auto 0;
    justify-content: center;
  }
}
/*---------------------------------

  about-feature

---------------------------------*/
.about__p-feature {
  margin: 180px auto;
  @include mq("sp") {
    margin: 90px auto;
  }
}
.about__p-feature__wrapper {
}
.about__p-feature__item {
  margin: 150px auto;
  position: relative;
  @include mq("sp") {
    margin: 60px auto;
  }
  &::before {
    content: "";
    position: absolute;
    background-color: #e1e1e1;
    height: 700px;
    width: 490px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    @include mq("sp") {
      display: none;
    }
    .c-util__titlesub {
      z-index: 10;
    }
  }
  .about__p-feature__image {
    width: 800px;
    max-width: 100%;
    margin: 30px auto 0;
  }
  .about__p-feature__button {
    margin-top: 30px;
    margin-left: auto;
    margin-right: 140px;
    text-align: right;
    background-color: #fff;
    border: 1px solid #164489;
    width: fit-content;
    @include mq("sp") {
      margin: 30px auto 0;
      font-size: 1.4rem;
    }
  }
  .c-button__link {
    display: inline-block;
    padding: 6px 24px;
    background-image: none;
    text-decoration: none;
    position: relative;
    &::after {
      content: "\f105";
      font-family: FontAwesome;
      margin-left: 1em;
      font-size: 1.8rem;
    }
  }
}
